<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Rokezzz\CustomOrder\Api\TypeOrderManagementInterface"
                type="Rokezzz\CustomOrder\Model\TypeOrderManagement"/>
    <type name="Magento\Quote\Model\QuoteManagement">
        <plugin name="SaveOrderOnTypeOrder"
                type="Rokezzz\CustomOrder\Plugin\Model\SaveOrderPlugin"/>
    </type>
</config>
