<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Rokezzz_CustomOrder::listing" title="Type Orders" module="Rokezzz_CustomOrder"
             sortOrder="100" parent="Magento_Sales::sales_operation" resource="Rokezzz_CustomOrder::typeorder"
             action="type_order_grid/typeorder/index"/>
    </menu>
</config>
