<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales" translate="label" type="text" sortOrder="305" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <tab>sales</tab>
            <resource>Rokezzz_CustomOrder::typeorder</resource>
            <group id="type_orders" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Type Order</label>
                <field id="type_orders" translate="label" type="multiselect" sortOrder="51" showInDefault="1"
                       showInWebsite="1">
                    <label>Type Order</label>
                    <source_model>Rokezzz\CustomOrder\Model\Config\Source\TypeOrder</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>
