<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="TypeOrderConfiguration" type="Rokezzz\CustomOrder\Plugin\Block\Checkout\TypeOrderProcessorPlugin"/>
    </type>
    <type name="Rokezzz\CustomOrder\Model\Source\Option\TypeOrder">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="1" xsi:type="string">Standardowe</item>
                <item name="2" xsi:type="string">Ekspozycyjne</item>
                <item name="3" xsi:type="string">Testowe</item>
            </argument>
        </arguments>
    </type>
</config>
